.areaTree {
    margin: 10px 20px;
    width: 600px;
    border: 1px solid;
    min-height: 90%;
    float: left;
    border-radius: 6px;
}

.buttonClass {
    right: 10%;
}

.model-input {
    width: 200px;
}

.model-span {
    width: 150px;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
}

.model-error {
    margin-left: 20px;
    color: #f5222d;
}
